LIVEKIT_URL='wss://demosound-0k43s5kg.livekit.cloud'
LIVEKIT_API_KEY='APIESj5hHLeMz7X'
LIVEKIT_API_SECRET='ReeeeleLFQfkVTF1puES8HEiApGlv1x9IM2puPs9xaAJ'

OPENAI_API_KEY = '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'
LLAMA_CLOUD_API_KEY = 'llx-sAq3lGEb5Jw9LhJVvkAn40HE68yTnOAw5s8xpqU7A4MpFa6l'
ELEVEN_API_KEY='sk_7bfee4764b2192651b621dc3d3235ffaa6c4ea33c073bc8d'
DEEPGRAM_API_KEY='ea5305226855a292a8dd1aa79a6f85669db32773'
